<div class="results-page">
  <h1>診断結果</h1>
  <% if @results %>
    <p>あなたの結果は: <%= @results[:name] %></p>
    <% if @results[:description].present? %>
      <p><%= @results[:description] %></p>
    <% end %>
  <% else %>
    <p>診断結果が見つかりませんでした。</p>
  <% end %>
</div>