<div class="hero min-h-screen" style="background-image: url(<%= asset_path('top_image.webp') %>); background-size: cover; background-position: center;">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md text-customWhite">
      <h1 class="mb-5 text-5xl font-bold">今日行ってみたいところを見つけてみよう</h1>
      <p class="mb-5">あなたにおすすめの場所が見つかりますように!</p>
      <a href="/diagnostics" class="btn glass text-customWhite">診断する</a>
      <%= button_to 'ゲストログイン', guest_login_path, method: :post, class: 'btn glass text-customWhite' %>
    </div>
  </div>
</div>