<header class="navbar bg-customLiteGreen">
  <div class="container mx-auto flex justify-between items-center text-customGreen">
    <div class="flex-1">
      <%= link_to 'Outspire', root_path, class: "btn btn-ghost text-2xl" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 flex space-x-4">
        <li><%= link_to 'ログイン', login_path, class: "btn btn-ghost" %></li>
        <li><%= link_to '新規登録', new_user_path, class: "btn btn-ghost" %></li>
      </ul>
    </div>
  </div>
</header>
