<footer class="footer bg-customLiteGreen text-neutral-content p-4 relative text-customGreen">
  <div class="container mx-auto flex justify-between items-center">
    <div class="grid-flow-col auto-cols-max">
      <p>© 2024 Outspire - All rights reserved.</p>
    </div>
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <%= link_to '利用規約', page_path('about'), class: "link link-hover" %>
      <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class: "link link-hover" %>
      <%= link_to 'お問い合わせ',
                  'https://docs.google.com/forms/d/e/1FAIpQLSezp7AMXPaeGI7RwHfNS7lxhzrWN2MirMno6hx-q7plIj9s6g/viewform',
                  target: '_blank',
                  rel: 'noopener noreferrer',
                  class: "link link-hover" %>
    </div>
  </div>
</footer>
