<footer class="footer bg-neutral text-neutral-content p-4 fixed inset-x-0 bottom-0">
  <div class="footer-content">
    <div class="grid-flow-col auto-cols-max">
      <p>© 2024 Outspire - All rights reserved.</p>
    </div>
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <%= link_to '使い方', "#", class: "link link-hover" %>
      <%= link_to 'プライバシーポリシー', "#", class: "link link-hover" %>
      <%= link_to 'お問い合わせ', "#", class: "link link-hover" %>
    </div>
  </div>
</footer>
